@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;
}
.display-flex{
    display: flex;
}
/* navbar style start here */

.navbar{
    padding: 1rem 3rem;
    align-items: center;
    justify-content: space-between;
}
.navbar h4{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar-option{
    list-style: none;
    gap: 2rem;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
}
/* navbar style end here */

/* banner style start here */
.banner{
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    
}
.banner-content{
    width: 45%;
}
.banner-child-1 h1{
    color: rgb(58, 58, 58);
    font-size: 3.2rem;
    font-weight: 700;
}
.banner-child-1 p{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.3rem;
}
.btn-primary{
    border-radius: 2.5rem;

    background-color: rgb(224, 44, 109);
    padding: .7rem .95rem;
    border: none;
    color: rgb(255, 255, 255);
   font-size: 1rem;
   font-weight: 700;
   margin-top: 1.3rem;
}
.btn-primary i{
    margin-left: .5rem;
}
.banner-child-2{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.banner-child-2 img{
    width: 100%;
}
/* banner style end here */


/* companies section starts here */
.companies{
    padding: 2rem 3rem;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px inset rgb(170, 170, 170); */
    /* box-shadow:  5px  rgba(170, 170, 170, 0.352); */
}
/* companies section starts here */


/* featured section starts here */
.featured{
    padding: 1rem 3rem;
    align-items: center;
    justify-content: space-between;

}
.feature-image{
    width: 35%;

}
.feature-image img{
    width: 100%;
}
.feature-content{
    width: 55%;

}
.feature-content h1{
    color: rgb(10, 8, 38);
font-size: 2.2rem;
font-weight: 700;
}
.feature-content p{
    color: rgb(108, 108, 108);
font-size: 16px;
font-weight: 700;
margin-top: 1.5rem;
}
.feature-content button{
    color: rgb(255, 255, 255);
    background-color: rgb(224, 44, 109);
    padding: .7rem 1.5rem;
    border: none;
    margin-top: 1.5rem;
}
.feature-content button i{
    margin-left: .5rem;
}
/* featured section ends here */


/* footer section starts here */
footer{
    padding: 2rem ;
    color: white;
    background-color: rgb(10, 8, 38);
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer h3{
    font-size: 1.5rem;
font-weight: 700;
}
footer p{
    font-size: .65rem;
    font-weight: 700;
    margin-top: .5rem;
}
footer i{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
    margin-left: .5rem;

}
/* footer section ends here */
